@font-face {
    font-family: PermanentMarker;
    src: url(fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: OpenSansCondensed;
    src: url(fonts/OpenSansCondensed-Light.ttf);
}

body {
    background-color: #101820FF;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
}

#wrapper {
    background-color: #006B38FF;
    color: white;
    padding: 2vh;
    padding-top: 0.5vh;
    font-size: 40px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

#name {
    font-family: 'PermanentMarker', cursive;
    font-size: 180%;
    margin: 0px;
    padding: 0px;
}

#nickname {
    font-family: 'OpenSansCondensed', cursive;
    vertical-align: top;
    font-size: 60%;
}

@media only screen and (max-width: 600px) {
    #wrapper {
        padding: 1vh;
    }
    .container {
        width: 90%;
    }
}

#content {
    margin-top: 10px;
}

#languages {
    font-family: monospace;
    margin: 0px;
    font-size: 70%;
}

#title {
    display: inline-block;
    margin: inherit;
}

.btn {
    background-color: yellow;
    border-style: none;
    border-radius: 30px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(85%);
}

.gitlab-btn {
    background-color: #FC6D26;
}

.github-btn {
    background-color: #24292E;
    color: white;
}

.telegram-btn {
    background-color: #2DA4E0;
}

.cdb-btn {
    background-color: #304E6E;
    color: white;
}